.page{
    background-color: rgb(0, 198, 201);
    height: 100%;
}

.container {
    margin:auto;
    width: 50%;
    border: 1px solid rgb(112, 219, 255);
    background-color: rgb(133, 211, 220);
    padding: 10px;
}

.add-btn {
    float: right;
    background-color: rgb(232, 23, 23);
    color: yellow
}